// Viewports
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;

// Colors
$bg-white: #fbfcfe;
$txt-title: #0f805d;
$txt-content: #000000;

// Variables
:root {
  @media (width < $tablet-width) {
    --header-height: 68px;
  }

  @media (width >= $tablet-width) {
    --header-height: 104px;
  }

  @media (width >= $desktop-width) {
    --header-height: 108px;
  }
}
