// Viewports
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;

// Colors
$bg-white: #fbfcfe;
$color-title: #0f805d;
$color-txt: #000000;
$color-hover: #7bdb0a;
$color-active: rgb(15 128 93 / 50%);

// Variables
:root {
  @media (width < $tablet-width) {
    --header-height: 68px;
  }

  @media (width >= $tablet-width) {
    --header-height: 104px;
  }

  @media (width >= $desktop-width) {
    --header-height: 108px;
  }
}
