@use "../../abstracts/index" as abs;

.logo {
  @include abs.reset-link(abs.$color-title);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (width < abs.$tablet-width) {
    width: 52px;
    height: 52px;
  }

  @media (width >= abs.$tablet-width) {
    width: 133px;
    height: 60px;
  }

  &:hover,
  &:hover &__word,
  &:focus-visible,
  &:focus-visible &__word {
    color: abs.$color-hover;
    outline: none;
  }

  &:active,
  &:active &__word {
    color: abs.$color-active;
  }

  &__img {
    @media (width >= abs.$tablet-width) {
      width: 60px;
      height: 60px;
    }
  }

  &__word {
    font-family: AmaticSC, Arial, sans-serif;
    font-size: 40px;

    @media (width < abs.$tablet-width) {
      display: none;
    }
  }
}
