@use "../../abstracts/index" as abs;

.logo {
  @include abs.reset-link(#0f805d);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (width < abs.$tablet-width) {
    width: 52px;
    height: 52px;
  }

  @media (width >= abs.$tablet-width) {
    width: 133px;
    height: 60px;
  }

  &:hover,
  &:hover &__word,
  &:focus,
  &:focus &__word {
    color: #7bdb0a;
  }

  &:active,
  &:active &__word {
    color: rgb(15 128 93 / 50%);
  }

  &__img {
    @media (width >= abs.$tablet-width) {
      width: 60px;
      height: 60px;
    }
  }

  &__word {
    font-family: AmaticSC, Arial, sans-serif;
    font-size: 40px;

    @media (width < abs.$tablet-width) {
      display: none;
    }
  }
}
