@use "../../abstracts/index" as abs;

.promo {
  box-sizing: border-box;
  background-color: #cdd6df;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (width < abs.$tablet-width) {
    min-height: 640px;
    margin-bottom: 60px;
    padding-top: 60px;
    background-image: url("../../../assets/images/promo-mob_bg@1x.jpg");

    @media (resolution >=2dppx) {
      background-image: url("../../../assets/images/promo-mob_bg@2x.jpg");
    }
  }

  @media (width >=abs.$tablet-width) {
    min-height: 924px;
    margin-bottom: 100px;
    padding-top: 142px;
    background-image: url("../../../assets/images/promo-tab_bg@1x.jpg");

    @media (resolution >=2dppx) {
      background-image: url("../../../assets/images/promo-tab_bg@2x.jpg");
    }
  }

  @media (width >=abs.$desktop-width) {
    min-height: 800px;
    padding-top: 172px;
    background-image: url("../../../assets/images/promo-desk_bg@1x.jpg");

    @media (resolution >=2dppx) {
      background-image: url("../../../assets/images/promo-desk_bg@2x.jpg");
    }
  }
}

.promo__wrapper {
  margin: 0 auto;

  @media (width < abs.$tablet-width) {
    width: 265px;
  }

  @media (width >=abs.$tablet-width) {
    width: 532px;
    margin-left: 214px;
  }

  @media (width >=abs.$desktop-width) {
    width: 550px;
    margin-left: 540px;
  }
}

.promo__title {
  margin-top: 0;
  font-family: Comforta, Arial, sans-serif;
  font-weight: 400;
  color: abs.$color-title;

  @media (width < abs.$tablet-width) {
    margin-bottom: 32px;
    font-size: 36px;
    text-align: center;
  }

  @media (width >=abs.$tablet-width) {
    margin-bottom: 48px;
    font-size: 48px;

    & br {
      display: none;
    }
  }

  @media (width >=abs.$desktop-width) {
    margin-bottom: 52px;
    font-size: 52px;
  }
}

.promo__list {
  @include abs.reset-list;

  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (width < abs.$tablet-width) {
    width: 208px;
    row-gap: 12px;
    margin-bottom: 82px;
    font-size: 16px;
  }

  @media (width >=abs.$tablet-width) {
    width: 502px;
    row-gap: 19px;
    margin-bottom: 48px;
    margin-left: 0;
    font-size: 18px;
  }

  @media (width >=abs.$desktop-width) {
    margin-bottom: 52px;
    margin-left: auto;
  }
}

.promo__item {
  display: flex;
  column-gap: 12px;
  align-items: center;

  &::before {
    content: "";
    width: 32px;
    height: 32px;
  }

  &--product::before {
    background-image: url("../../../assets/icons/leaf.svg");
  }

  &--taste::before {
    background-image: url("../../../assets/icons/ice.svg");
  }

  &--delivery::before {
    background-image: url("../../../assets/icons/delivery.svg");
  }

  & span {
    @media (width < abs.$tablet-width) {
      max-width: 164px;
    }
  }
}

.promo__button {
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);

  @media (width < abs.$tablet-width) {
    padding: 16px 82px 16px 84px;
    line-height: 23px;
  }

  @media (width >=abs.$tablet-width) {
    display: inline-block;
    padding: 16px 105px 18px;
    font-size: 1.75rem;
    line-height: 33px;
  }

  @media (width >=abs.$desktop-width) {
    margin-left: 37px;
  }
}
