@use "../../abstracts/index" as abs;

.promo {
  box-sizing: border-box;
  background-color: #cdd6df;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (width < abs.$tablet-width) {
    min-height: 640px;
    padding-top: 60px;
    background-image: url("../../../assets/images/promo-mob_bg@1x.jpg");

    @media (resolution >=2dppx) {
      background-image: url("../../../assets/images/promo-mob_bg@2x.jpg");
    }
  }

  @media (width >=abs.$tablet-width) {
    min-height: 924px;
    padding-top: 142px;
    background-image: url("../../../assets/images/promo-tab_bg@1x.jpg");

    @media (resolution >=2dppx) {
      background-image: url("../../../assets/images/promo-tab_bg@2x.jpg");
    }
  }

  @media (width >=abs.$desktop-width) {
    min-height: 800px;
    padding-top: 172px;
    background-image: url("../../../assets/images/promo-desk_bg@1x.jpg");

    @media (resolution >=2dppx) {
      background-image: url("../../../assets/images/promo-desk_bg@2x.jpg");
    }
  }
}

.promo__wrapper {
  margin: 0 auto;

  @media (width < abs.$tablet-width) {
    width: 265px;
  }

  @media (width >=abs.$tablet-width) {
    width: 532px;
    margin-left: 214px;
  }

  @media (width >=abs.$desktop-width) {
    width: 549px;
    margin-left: 540px;
  }
}

.promo__title {
  margin-top: 0;
  font-family: Comforta, Arial, sans-serif;
  font-weight: 400;
  color: #0F805D;

  @media (width < abs.$tablet-width) {
    margin-bottom: 32px;
    font-size: 36px;
    text-align: center;
  }

  @media (width >=abs.$tablet-width) {
    margin-bottom: 48px;
    font-size: 48px;

    & br {
      display: none;
    }
  }

  @media (width >=abs.$desktop-width) {
    margin-bottom: 52px;
    font-size: 52px;
  }
}

.promo__list {
  @include abs.reset-list;

  margin: 0 auto;

  @media (width < abs.$tablet-width) {
    width: 208px;
    margin-bottom: 58px;
    font-size: 16px;
  }

  @media (width >=abs.$tablet-width) {
    width: 502px;
    margin-bottom: 48px;
    margin-left: 0;
    font-size: 18px;
  }

  @media (width >=abs.$desktop-width) {
    margin-bottom: 52px;
    margin-left: auto;
  }
}

.promo__item {
  display: flex;
  column-gap: 12px;
  align-items: center;

  &::before {
    content: "";
    width: 32px;
    height: 32px;
  }

  &--product::before {
    background-image: url("../../../assets/icons/leaf.svg");
  }

  &--taste::before {
    background-image: url("../../../assets/icons/ice.svg");
  }

  &--delivery::before {
    background-image: url("../../../assets/icons/delivery.svg");
  }

  & span {
    @media (width < abs.$tablet-width) {
      max-width: 164px;
    }
  }
}
