@use "../../abstracts/index" as abs;

.promo {
  box-sizing: border-box;
  background-color: #cdd6df;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (width < abs.$tablet-width) {
    min-height: 640px;
    padding-top: 60px;
    background-image: url("../../../assets/images/promo-mob_bg@1x.jpg");

    @media (resolution >=2dppx) {
      background-image: url("../../../assets/images/promo-mob_bg@2x.jpg");
    }
  }

  @media (width >=abs.$tablet-width) {
    min-height: 924px;
    padding-top: 142px;
    background-image: url("../../../assets/images/promo-tab_bg@1x.jpg");

    @media (resolution >=2dppx) {
      background-image: url("../../../assets/images/promo-tab_bg@2x.jpg");
    }
  }

  @media (width >=abs.$desktop-width) {
    min-height: 800px;
    padding-top: 172px;
    background-image: url("../../../assets/images/promo-desk_bg@1x.jpg");

    @media (resolution >=2dppx) {
      background-image: url("../../../assets/images/promo-desk_bg@2x.jpg");
    }
  }
}

.promo__wrapper {
  @media (width < abs.$tablet-width) {
    width: 265px;
    max-width: 83%;
    margin: 0 auto;
  }

  @media (width >=abs.$tablet-width) {
    width: 532px;
    max-width: 69%;
    margin-left: 28.43%;
  }

  @media (width >=abs.$desktop-width) {
    width: 549px;
    max-width: 38%;
    margin-left: 37.5%;
  }
}

.promo__title {
  margin-top: 0;
  font-family: 'Comfortaa';
  font-weight: 400;
  color: #0F805D;
  line-height: 1.12;

  @media (width < abs.$tablet-width) {
    margin-bottom: 2rem;
    font-size: 2.25rem;
    text-align: center;
  }

  @media (width >=abs.$tablet-width) {
    margin-bottom: 3rem;
    font-size: 3rem;

    & br {
      display: none;
    }
  }

  @media (width >=abs.$desktop-width) {
    margin-bottom: 3.25rem;
    font-size: 3.25rem;
  }
}

.promo__list {
  @include abs.reset-list;

  @media (width < abs.$tablet-width) {
    margin-bottom: 58px;
    font-size: 1rem;
    line-height: auto;
    // max-width: 208px;
    // padding-left: 72.5px;
  }

  @media (width >=abs.$tablet-width) {
    margin-bottom: 48px;
    font-size: 1.125rem;
    line-height: 1.2;
    // max-width: 458px;
    // padding-left: 34px;
  }

  @media (width >= abs.$desktop-width) {
    margin-bottom: 52px;
  //   // padding-left: 67.5px;
  }
}

.promo__item:not(:last-of-type) {
  @media (width < abs.$tablet-width) {
    margin-bottom: 12px;
  }

  @media (width >= abs.$tablet-width) {
    margin-bottom: 19px;
  }
}
