@use "../../abstracts/index" as abs;

// main-nav
.main-nav {
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 30%);

  @media (width < abs.$tablet-width) {
    position: relative;
    background-color: #cdd6df;

    &.main-nav--opened,
    &.main-nav--nojs  {
      background-color: abs.$bg-white-gray;
    }
  }

  @media (width >= abs.$tablet-width) {
    background-color: abs.$bg-white-gray;
  }
}

// main-nav__list
.main-nav__list {
  @include abs.reset-list;

  box-sizing: border-box;

  @media (width >= abs.$tablet-width) {
    display: flex;
    flex: 1 0;
    flex-wrap: wrap;
    column-gap: 16px;
  }

  @media (width >= abs.$desktop-width) {
    display: flex;
    flex: 1 0;
    flex-wrap: wrap;
    column-gap: 28px;
  }
}

@media (width < abs.$tablet-width) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__list,
  .main-nav--nojs .main-nav__list {
    position: absolute;
    top: var(--header-height);
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    min-height: 360px;
    padding-top: 32px;
    padding-left: 40px;
    background-color: abs.$bg-white-gray;
    box-shadow: inset 0 8px 4px -4px rgb(0 0 0 / 30%);
  }

}

// main-nav__link
.main-nav__link {
  @include abs.reset-link;

  display: block;
  font-size: 20px;
  line-height: 1.15;

  @media (width >= abs.$tablet-width) {
   min-width: 112px;
  }

  @media (width >= abs.$desktop-width) {
   min-width: 132px;
  }

  &:hover{
    color: abs.$color-hover;
  }

  &:focus-visible {
    outline: none;
    color: abs.$color-hover;
  }

  &:active {
    color: abs.$color-active;
  }
}
