@use "../../abstracts/index" as abs;

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-height: var(--header-height);
  position: relative;
  margin: 0 auto;

  @media (width < abs.$tablet-width) {
    min-width: 273px;
    padding-right: 21px;
    padding-left: 26px;
  }

  @media (width >=abs.$tablet-width) {
    max-width: 716px;
    column-gap: 87px;
  }

  @media (width >=abs.$desktop-width) {
    max-width: 1092px;
    column-gap: 345px;
  }
}

// header__toggle
@media (width < abs.$tablet-width) {
  .header__toggle {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }

    &:hover,
    &:active {
      &::before,
      &::after,
      .header__toggle-burger {
        background-color: #7bdb0a;
      }
    }
  }

  .header__toggle::before,
  .header__toggle::after {
    content: "";
  }

  .header__toggle::before,
  .header__toggle::after,
  .header__toggle-burger {
    position: absolute;
    left: 7.5px;
    width: 45px;
    height: 5px;
    background-color: #0f805d;
    border-radius: 5px;
  }

  .main-nav--closed {
    .header__toggle::before {
      top: 15px;
    }

    .header__toggle::after {
      top: 27.5px;
    }

    .header__toggle-burger {
      top: 40px;
    }
  }

  .main-nav--opened {
    .header__toggle::before {
      width: 35px;
      height: 3px;
      top: 50%;
      left: 50%;
    }

    .header__toggle::after {
      width: 3px;
      height: 35px;
      top: 50%;
      left: 50%;
    }

    .header__toggle::before,
    .header__toggle::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    .header__toggle-burger {
      display: none;
    }
  }

  .main-nav--nojs .header__toggle {
    display: none;
  }
}

.header__toggle {
  @media (width >=abs.$tablet-width) {
    display: none;
  }
}
