@use "../../abstracts/index" as abs;

.control {
  display: grid;
  grid-template-columns: auto minmax(auto, 1fr);
  column-gap: 12px;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: abs.$color-txt;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    & .control__mark {
      border-color: abs.$color-hover;
    }

    & .control__input[type="radio"]:checked~.control__mark::before {
      background-color: abs.$color-hover;
    }

    & .control__input[type="checkbox"]:checked~.control__mark::before {
      border-color: abs.$color-hover;
    }
  }

  &:has(.control__input:disabled) {
    cursor: default;
  }
}

.control__input {
  &[type="radio"] {
    ~.control__mark {
      border-radius: 50%;
    }

    &:checked {
      ~.control__mark {
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 9px;
          height: 9px;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          background-color: abs.$color-title;
        }
      }
    }
  }

  &[type="checkbox"] {
    &:checked{
      ~.control__mark {
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 11px;
          height: 5px;
          border: 2px solid abs.$color-title;
          border-top: none;
          border-right: none;
          transform: translate(-50%, calc(-50% - 1.5px)) rotate(-45deg);
        }
      }
    }
  }
}

.control__mark {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 2px solid abs.$color-title;
  border-radius: 5px;
}

.control__input:disabled~.control__mark {
  border-color: rgb(142 152 146 / 70%);
}
