@use "../../abstracts/index" as abs;

.order {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  &::before {
    content: "";
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../../../assets/icons/leaf-line.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @media (width < abs.$tablet-width) {
    min-width: 268px;
    margin-bottom: 89px;

    &::before {
      width: 228px;
      height: 32px;
      margin-bottom: 50px;
    }
  }

  @media (width >=abs.$tablet-width) {
    width: 624px;
    margin-bottom: 100px;

    &::before {
      width: 296px;
      height: 42px;
      margin-bottom: 73px;
    }
  }

  @media (width >=abs.$desktop-width) {
    width: 792px;

    &::before {
      margin-bottom: 62px;
    }
  }
}

.order-form {
  @media (width < abs.$tablet-width) {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
}

.order-form__group {
  border: none;
  margin: 0;
  padding: 0;

  &--berries {
    @media (width >=abs.$tablet-width) and (width < abs.$desktop-width) {
      margin-right: auto;
      margin-left: auto;
      width: 483px;
    }
  }
}

.order-form__title {
  color: abs.$color-title;
  padding: 0;

  @media (width < abs.$tablet-width) {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 23px;
  }

  @media (width >=abs.$tablet-width) {
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 33px;
  }

  @media (width >=abs.$desktop-width) {
    margin-bottom: 48px;
  }
}

.order-form__list {
  @include abs.reset-list;
}

.order-form__group--berries {
  @media (width >=abs.$tablet-width) {
    margin-bottom: 50px;
  }

  @media (width >=abs.$desktop-width) {
    margin-bottom: 57px;
  }
}

.order-form__group--berries .order-form__list {
  display: grid;
  grid-auto-flow: column;

  @media (width < abs.$tablet-width) {
    grid-template-columns: repeat(2, minmax(124px, 1fr));
    grid-template-rows: repeat(6, minmax(24px, auto));
    gap: 32px 20px;
  }

  @media (width >=abs.$tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 24px);
    row-gap: 24px;
  }

  @media (width >=abs.$desktop-width) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 24px);
  }
}

.order-form__group--storage .order-form__list {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
}

.order-form__group--delivery {
  .order-form__list {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  .control__mark {
    border-radius: 50%;
  }

  .control__input:checked~.control__mark {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 9px;
      height: 9px;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: abs.$color-title;
    }
  }
}

.order-form__group--contacts {
  textarea {
    resize: none;
  }

  display: grid;
  row-gap: 36px;

  @media (width < abs.$tablet-width) {
    grid-template-columns: 1fr;
  }

  @media (width >=abs.$tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }

  .order-form__field {
    display: flex;
    flex-direction: column;

    @media (width < abs.$tablet-width) {
      row-gap: 5.5px;
    }

    @media (width >=abs.$tablet-width) {
      row-gap: 4px;

      &:nth-of-type(2) {
        grid-column: 1 / 2;
      }

      &:nth-of-type(4),
      &:nth-of-type(5) {
        grid-column: 1 / -1;
      }
    }
  }

  .order-form__label {
    margin-left: 10px;

    @media (width < abs.$tablet-width) {
      font-size: 14px;
      line-height: 16px;
    }

    @media (width >=abs.$tablet-width) {
      font-size: 16px;
      line-height: 20px;
    }

    & span {
      color: abs.$color-error;
    }
  }

  .order-form__input {
    padding: 15px 12px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid abs.$color-title;
    width: 100%;
    font-size: 16px;
    line-height: 20px;

    &::placeholder {
      color: rgb(142 152 146 / 70%);
    }


    @media (width > abs.$tablet-width) {
      &[name="address"] {
        height: 52px;
        line-height: 20px;
      }
    }
  }
}
