@use "../../abstracts/index" as abs;

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 264px;
  min-height: 432px;
  border-radius: 40px;
  overflow: hidden;
  background-color: abs.$bg-white;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);

  &__img {
    display: block;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  }
}

.product-card__link {
  @include abs.reset-link;
  
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  margin-bottom: 28px;
  align-items: center;
}

.product-card__title {
  margin: 0;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: abs.$txt-title;
}

.product-card__info {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.product-card__button {
  margin-top: 38px;
}
