@use "../../abstracts/index" as abs;

.page {
  min-width: abs.$mobile-width;
  font-family: Raleway, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: abs.$color-txt;
}

.page__body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  background-color: abs.$bg-white;
  color: abs.$color-txt;
}

.page__main {
  @media (width < abs.$tablet-width) {
    padding-bottom: 60px;
  }

  @media (width >=abs.$tablet-width) {
    padding-bottom: 100px;
  }
}

.page__order {
  &::before {
    content: "";
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  @media (width < abs.$tablet-width) {
    &::before {
      height: 120px;
      background-image: image-set(url("../../../assets/images/promo-order-bg-m@1x.webp") type("image/webp") 1x,
          url("../../../assets/images/promo-order-bg-m@2x.webp") type("image/webp") 2x,
          url("../../../assets/images/promo-order-bg-m@1x.jpg") type("image/jpeg") 1x,
          url("../../../assets/images/promo-order-bg-m@2x.jpg") type("image/jpeg") 2x);
    }
  }

  @media (width >=abs.$tablet-width) {
    &::before {
      height: 200px;
      background-image: image-set(url("../../../assets/images/promo-order-bg-t@1x.webp") type("image/webp") 1x,
          url("../../../assets/images/promo-order-bg-t@2x.webp") type("image/webp") 2x,
          url("../../../assets/images/promo-order-bg-t@1x.jpg") type("image/jpeg") 1x,
          url("../../../assets/images/promo-order-bg-t@2x.jpg") type("image/jpeg") 2x);
    }
  }

  @media (width >=abs.$desktop-width) {
    &::before {
      background-image: image-set(url("../../../assets/images/promo-order-bg-d@1x.webp") type("image/webp") 1x,
          url("../../../assets/images/promo-order-bg-d@2x.webp") type("image/webp") 2x,
          url("../../../assets/images/promo-order-bg-d@1x.jpg") type("image/jpeg") 1x,
          url("../../../assets/images/promo-order-bg-d@2x.jpg") type("image/jpeg") 2x);
    }
  }
}

.page__order-header {
  margin: 0 auto;
  text-align: center;

  @media (width < abs.$tablet-width) {
    width: 268px;
    padding-top: 64px;
    margin-bottom: 41px;
  }

  @media (width >=abs.$tablet-width) {
    width: 532px;
    padding-top: 100px;
    margin-bottom: 36px;
  }

  @media (width >=abs.$desktop-width) {
    width: 550px;
    margin-bottom: 46px;
  }
}

.page__order-title {
  margin-top: 0;
  font-family: Comforta, Arial, sans-serif;
  font-weight: 400;
  color: abs.$color-title;

  @media (width < abs.$tablet-width) {
    margin-bottom: 32px;
    font-size: 36px;
    line-height: 40px;
  }

  @media (width >=abs.$tablet-width) {
    margin-bottom: 52px;
    font-size: 48px;
    line-height: 54px;
  }

  @media (width >=abs.$desktop-width) {
    margin-bottom: 48px;
    font-size: 52px;
    line-height: 58px;
  }
}

.page__order-promo {
  margin-top: 0;
  margin-bottom: 0;

  @media (width < abs.$tablet-width) {
    font-size: 16px;
    line-height: 19px;
  }

  @media (width >= abs.$tablet-width) {
    font-size: 18px;
    line-height: 22px;

    & br {
      display: none;
    }
  }
}
