@use "../../abstracts/index.scss" as abs;

.page {
  min-width: abs.$mobile-width;
  font-family: Raleway, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #000000;
}

.page__body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  background-color: abs.$bg-white;
  color: abs.$txt-content;
}
